[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aludwiko
[access "refs/for/refs/*"]
	read = group user/aludwiko
	push = group user/aludwiko
	label-Code-Review = -2..+2 group user/aludwiko
	label-Verified = -1..+1 group user/aludwiko
	rebase = group user/aludwiko
	removeReviewer = group user/aludwiko
	submit = group user/aludwiko
[access "refs/heads/*"]
	read = group user/aludwiko
	create = group user/aludwiko
	push = +force group user/aludwiko
	pushMerge = group user/aludwiko
[access "refs/tags/*"]
	push = +force group user/aludwiko
	pushTag = group user/aludwiko
	pushSignedTag = group user/aludwiko
